html {
  height: 100%; }
  html body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Yu Gothic", YuGothic, sans-serif; }
    html body #container {
      height: 143%; }
      html body #container header {
        background-color: #330066;
        text-align: center;
        color: white; }
        html body #container header p {
          margin: 0; }
      html body #container .firstView {
        width: 100%;
        height: 70%;
        min-height: 70%;
        background: url(bg3.png) center top no-repeat; }
        html body #container .firstView #topView {
          margin: 0 auto;
          height: 100%;
          width: 80%; }
          html body #container .firstView #topView .title {
            margin: 0 auto;
            text-align: center;
            width: 100%;
            position: relative;
            top: 330px; }
            html body #container .firstView #topView .title img {
              width: 100%; }
          html body #container .firstView #topView .disknum {
            margin: 0 auto;
            text-align: center; }
            html body #container .firstView #topView .disknum img {
              width: 300px;
              position: relative;
              top: 300px; }
      html body #container .hiddenView {
        height: 30%;
        margin: 0 auto;
        width: 100%; }
        html body #container .hiddenView .message {
          text-align: center;
          margin: 0 auto;
          width: 100%;
          background: url(backintrey.png) center center no-repeat; }
          html body #container .hiddenView .message img {
            width: 70%; }
        html body #container .hiddenView br {
          clear: both; }
        html body #container .hiddenView .trackSections {
          background: url(back2.png) center center no-repeat;
          margin: 0 auto;
          padding: 50px 0;
          width: 100%;
          height: 200%; }
          html body #container .hiddenView .trackSections .trackFrame {
            height: 100%;
            width: 90%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.4); }
            html body #container .hiddenView .trackSections .trackFrame .tracks {
              display: block;
              float: left;
              width: 50%;
              color: black;
              padding-top: 40px; }
              html body #container .hiddenView .trackSections .trackFrame .tracks .crossfade {
                text-align: center; }
                html body #container .hiddenView .trackSections .trackFrame .tracks .crossfade iframe {
                  margin: 0 auto; }
              html body #container .hiddenView .trackSections .trackFrame .tracks .diskTitleImg {
                margin: 0 auto;
                padding: 15px 0;
                width: 80%;
                text-align: center; }
                html body #container .hiddenView .trackSections .trackFrame .tracks .diskTitleImg img {
                  width: 80%; }
              html body #container .hiddenView .trackSections .trackFrame .tracks .trackDefList {
                margin: 0 auto;
                width: 350px;
                font-size: 0.9em; }
                html body #container .hiddenView .trackSections .trackFrame .tracks .trackDefList .trackTitle {
                  position: relative;
                  width: 65%;
                  font-weight: bold;
                  margin-right: 15px;
                  text-align: left;
                  display: block;
                  float: left; }
                html body #container .hiddenView .trackSections .trackFrame .tracks .trackDefList .trackComposer {
                  margin: 0;
                  display: block;
                  text-align: left;
                  -webkit-margin-start: 0px; }
        html body #container .hiddenView .information {
          background: url(backintrey.png) center center no-repeat;
          text-align: center;
          margin: 0 auto;
          width: 100%;
          color: white; }
          html body #container .hiddenView .information .map .strong {
            font-size: 2.5em; }
          html body #container .hiddenView .information .map .notStrong {
            font-size: 1.5em; }
          html body #container .hiddenView .information .map p {
            margin: 0 0 -20px 0;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em; }
          html body #container .hiddenView .information .price {
            width: 50%;
            margin: 0 auto; }
            html body #container .hiddenView .information .price dt {
              display: inline-block;
              clear: both;
              margin-right: 10px;
              font-size: 1.2em; }
            html body #container .hiddenView .information .price dd {
              display: inline-block;
              margin: 0;
              font-size: 2em; }
        html body #container .hiddenView .credit {
          background: url(back2.png) center center no-repeat;
          width: 100%;
          margin: 0 auto;
          padding: 10px 0; }
          html body #container .hiddenView .credit .dlCredit {
            width: 300px;
            margin: 0 auto;
            padding: 10px 0;
            display: block;
            text-align: center;
            color: black; }
            html body #container .hiddenView .credit .dlCredit .dtCredit {
              width: 150px;
              text-align: left;
              font-weight: bold;
              float: left;
              margin-right: 20px; }
            html body #container .hiddenView .credit .dlCredit .ddCredit {
              margin: 0;
              text-align: left; }
        html body #container .hiddenView footer {
          background-color: #330066;
          padding: 10px 0;
          color: white;
          text-align: center; }
          html body #container .hiddenView footer img {
            width: 50px; }
          html body #container .hiddenView footer p {
            margin: 0; }

@media screen and (max-width: 767px) {
  html body #container .firstView {
    background: url(bg3.png) center top/cover no-repeat; }
    html body #container .firstView #topView {
      width: 90%; }
      html body #container .firstView #topView .title {
        position: relative;
        top: 200px; }
      html body #container .firstView #topView .disknum img {
        width: 150px;
        position: relative;
        top: 180px; }
  html body #container .hiddenView .message {
    width: 100%; }
    html body #container .hiddenView .message img {
      width: 100%; }
  html body #container .hiddenView .trackSections {
    height: 2000px;
    background: url(back2.png) top center; }
    html body #container .hiddenView .trackSections .trackFrame .tracks {
      float: none;
      margin: 0 auto;
      width: 95%; }
      html body #container .hiddenView .trackSections .trackFrame .tracks .crossfade {
        width: 100%;
        margin: 0 auto; }
      html body #container .hiddenView .trackSections .trackFrame .tracks .trackDefList {
        margin: 0 auto;
        padding-left: 40px;
        width: 100%; }
        html body #container .hiddenView .trackSections .trackFrame .tracks .trackDefList .trackTitle {
          margin: 0;
          width: 100%;
          float: none; }
        html body #container .hiddenView .trackSections .trackFrame .tracks .trackDefList .trackComposer {
          float: none; }
  html body #container .hiddenView .information .map .strong {
    font-size: 1.5em; }
  html body #container .hiddenView .information .map .notStrong {
    font-size: 1.2em; }
  html body #container .hiddenView .information .price dd {
    font-size: 1.7em; }
  html body #container .hiddenView .credit {
    font-size: 0.85em; }
    html body #container .hiddenView .credit .dlCredit {
      width: 90%;
      margin: 0 auto;
      padding-left: 50px; }
      html body #container .hiddenView .credit .dlCredit .dtCredit {
        margin: 0;
        width: 100px; }
  html body #container .hiddenView footer img {
    width: 30px; } }

/*# sourceMappingURL=index.css.map */
