$base-color: #992200;

a {
	color: $base-color;
}

body {
	text-align: center;
	margin: 30px 30px;
}

.wrapper {
	font-family: 'Meiryo', sans-serif;
	margin: 0 auto;
	header {
		.logo_img {
			img {
				max-width: 150px;
				float: left;
			}
		}
		.advertise {
			color: #990000;
			text-align: left;
			margin: 0;
			padding: 0 0 0 20px;
			float: left;

		}
		.tel {
			text-align: right;
			h2 {
				margin: 0;
				padding: 0;
			}
			p {
				margin: 0 0 10px 0;
				padding: 0 0 -30px 0;
				font-size: .95em;
			}
		}
	}
	.menu {
		background-color: #eeeeee;
		clear: both;
		border-bottom: 1px solid #ccc;
		//padding: 20px 0 0 0;
		margin: 0;
		#toggle {
			display: none;
		}
		#menu {
			display: block;
		}
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				color: $base-color;
				list-style-type: none;
				display: inline-block;
				margin: 0;
				min-width: 12%;
				height: 100%;
				padding: 15px 10px;
				transition: .2s;
				a {
					color: $base-color;
					text-decoration: none;
				}
				&:hover {
					background-color: $base-color;
					opacity: .9;
					cursor: pointer;
					box-shadow: 0 1px 4px #999;
					border-radius: 5px;
					a {
						color: white;
					}
				}
			}
		}
	}
	.top {
		.top_img {
			margin: 20px 0px;
			img {
				width: 100%;
				height: auto;
			}
		}
		h2, p {
			text-align: left;
		}
	}
	.button {
		padding: 0px;
		button {
			font-family: 'Meiryo', sans-serif;
			padding: 2px 10px;
			background-color: #663333;
			background: linear-gradient(#663333, #663322);
			color: #fff;
			border: 1px solid #996666;
			border-radius: 3px;
			&:hover {
				opacity: .9;
				cursor: pointer;
				box-shadow: 0 1px 4px #999;
			}
		}
	}
	.top_goodpoint {
		ul {
			padding: 5px 0;
			li {
				list-style-type: none;
				display: inline-block;
				margin: 0;
				figure {
					margin: 0;
					padding: 5px;
					img {
					max-width: 100%;
					height: auto;
					}
					h2 {
						margin: 5px 0;
					}
					a {
						margin: 5px 0;
					}
				}
			}
		}
	}
	.popular {
		h2, figcaption, p {
			text-align: left;
		}
		figure {
			float: left;
			margin: 0 40px 80px 0;
			padding: 0;
		}
		.content {
			margin: 40 0px;
		}
	}
	footer {
		font-size: .9em;
		clear: both;
		background-color: #ccc;
		ul {
			padding: 20px;
			li {
				list-style-type: none;
				display: inline-block;
				margin: 10px;
			}
		}
	}
}

@media screen and (max-width: 1120px){
		.br2:before {
		content: "\A";
		white-space: pre ;
	}


	.menu {
		ul {
			padding: 0;
			li {
				padding: 0;
				width: 24%;
			}
		}
	}

}

@media screen and (max-width: 900px){
		.br:before {
		content: "\A";
		white-space: pre ;
	}
	.wrapper {

	header {
		.advertise {
			padding: 0 0 0 10px;
			margin: 0;
			p {
				margin: 0;
			}
		}
	}
}
}

@media screen and (max-device-width: 767px){
	body {
		margin: 0;
	}
	.wrapper {
		margin: 10px;
		header {
			margin: 0 auto;
			.logo_img {
				img {
					width: 35%;
				}
			}
			.advertise {
				padding: 0 15px;
				font-size: .7em;
			}
			.tel {
				float: left;
				font-size: .7em;
				margin: 0 0 2% 40%;
				p {
					display: none;
				}
			}
		}

		.menu {
			#toggle {
				display: block;
				position: static;
				width: 100%;
				background: $base-color;
				a {
					display: block;
					position: relative;
					padding: 10px 0;
					color: white;
					text-align: center;
					text-decoration: none;
					&:hover {
						opacity: .9;
						cursor: pointer;
						box-shadow: 0 1px 4px #999;
						background-color: lighten($base-color, 8%);
					}
				}
			}
			#menu {
				display: none;
			}
			#menu.open {
				display: block;
				//left: 0;
           	 	width: 100%;
           	 	position: relative;
			}
			ul {
				//position: fixed;
            	//left: -100%;
            	//transition: 1s;
				li {
					width: 100%;
					position: relative;
					margin: 0;
					padding: 10px 0;
					background-color: lighten($base-color, 67%);
					border-bottom: 1px solid #ccc;
					&:hover {
						border-radius: 0;
					}
				}
			}
		}

		.popular {
			figure {
				font-size: .9em;
				margin: 0 0 20px 0;
			}
			.content {
				clear: both;
			}
		}
	}
}